<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/products.php">Produits</a></li>
        <li><a href="/details.php">Détails</a></li>
        <li><a href="">link</a></li>
    </ul>
</nav>