{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Produits
{% endblock %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>{{ product }}</li>
        {% endfor %}
    </ul>

    <div>
        {{ dump(products) }}
    </div>
{% endblock %}

